# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.sqlite3
/media
/staticfiles

# Environnements virtuels
env/
venv/
.venv/
ENV/
env.bak/

# VSCode
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Fichiers d'environnement
*.env
.env
