<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Médiathèque</title>

    <style>
    .btn-orange {
        background-color: white;
        border: 1px solid #e3713b;
        padding: 5px 10px;
        color: #e3713b;
        font-weight: bold;
        text-decoration: none;
        border-radius: 4px;
        display: inline-block;
        margin-bottom: 10px;
    }

    .btn-orange:hover {
        background-color: #e3713b;
        color: white;
    }
  </style>

</head>
<body>
  {% extends 'base.html' %}

  {% block content %}
  <h1>Ajouter un membre</h1>

  <!-- 🔁 Bouton retour placé ici -->
  <a href="{% url 'accueil' %}" class="btn-orange">⬅ Retour</a>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Ajouter</button>
  </form>
  {% endblock %}

  <h1>Nouvel emprunt</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Valider l'emprunt</button>
  </form>

</body>
</html>