<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Médiathèque</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <h1>Médias disponibles</h1>

    <ul>
    <table border="1" cellpadding="10" cellspacing="0" style="width:100%; border-collapse: collapse;">
        <thead style="background-color: #fce6d5;">
            <tr>
                <th>Titre</th>
                <th>Type</th>
                <th>Disponibilité</th>
            </tr>
        </thead>
        <tbody>
            {% for media in medias %}
            <tr>
                <td>{{ media.titre }}</td>
                <td>{{ media.get_type_display }}</td>
                <td>
                    {% if media.disponible %}
                        ✅ Disponible
                    {% else %}
                        ❌ Indisponible
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="3">Aucun média disponible.</td></tr>
            {% endfor %}
        </tbody>
    </table>
    </ul>
            {% endblock %}
</body>
</html>